<div class="bank bank-<%= c.name %>">
	<div class="bank-thumb">
		<img class="lazy banklogo thumb" src="<%= g.constants.IMG_DIR %>/<%=c.original %>" />
	</div>
	<div class="bank-data">
		<h4 class="bank-name">
			<%= c.name %>
		</h4>
		<small class="bank-closed">
			Closed <%= c.closed %>
		</small>
	</div>
</div>
